.footer{
	background: #0d0d0d;
	position: fixed;
	bottom: 0;
	/* position: absolute; position: fixed ==> wodth는 자식요소 */
	width:100%;
}

.section{
	max-width: 540px;
	margin:0 auto;
	padding: 30px 20px;
}

.section>div{
	margin:20px 0;
}